dj-database-url
Django
django-channels
django-cors-headers
django-crispy-forms
django-embed-video
django-extensions
django-filter
django-js-routes
django-mathfilters
django-password-validators
django-redis
django-session-timeout
django-tenants
Django-Verify-Email
djangorestframework

gitdb
GitPython
grpcio
gunicorn

openai

Pillow
pipenv
python-dotenv

tzdata
tzlocal
Unipath

virtualenv
virtualenv-clone

whitenoise

